<!-- ROBOT NAV BAR R-SCREEN -->
<side-nav>
  <div class="logo">
    <div class="dot" id="dot0"></div>
    <div class="dot" id="dot1"></div>
    <div class="dot" id="dot2"></div>
    <div class="dot" id="dot3"></div>
    <div class="dot" id="dot4"></div>
  </div>
</side-nav>

<!-- (1) Home Section Parallax -->
<section id="img-parallax-1" data-type="background" data-speed="10">
  <div id="hero-text">
    <div class="section">
      <%= image_tag("logo2.png", height: '125') %>
      <h1>
        <p>Bring Your own VR Exprience to Life</p>
      </h1>
      <input type="submit" value="Join our next Class" class="btn" id="join-btn">
      <input type="submit" value="Stay up to Date" class="btn" id="signup-btn">
    </div>
  </div>
</section>

<!-- (2) SLIDE 1 -->
  <div id="slide-1" class="slide">
    <div class="container">
      <h1>Start Learning Now!</h1>
      <h3 id="selection">Join our upcoming classes:</h3>
      <br />
      <% @courses.each do |course| %>
        <%= link_to(course) do %>
          <div class="section interest" data-package="daily">
            <h2><%= course.name %></h2>
            <p>$<%= course.price %></p>
            <p><%= course.course_summary %></p>
          </div>
        <% end %>
      <% end %>
      <div class="container">
        <a href="/classes.html"><button class="btn" id="next">More Classes</button></a>
      </div>
    </div>
  <!-- Close About Slide -->
  </div>

<!-- (3) Section Parallax -->
<section id="img-parallax-2" data-type="background" data-speed="11">
  <div class="section">
    <h1>
      <p>We believe that people should build the experiences they imagine.</p>
    </h1>
  </div>
</section>

<!-- (4) SLIDE 2 -->
  <div id="slide-2">
    <div class="container">
      <h1>Our Partners</h1>
    </div>
<!-- SECTION ONE -->
    <div class="container">
      <div class="section">
        <div class="img-container">
          <%= image_tag("partner1.png") %>
        </div>
      </div>
<!-- SECTION TWO -->
      <div class="section">
        <div class="img-container">
          <%= image_tag("partner2.png") %>
        </div>
      </div>
    </div>
<!-- CLOSE HOME SLIDE -->
    </div>
  </div>

<!-- (5) Section Parallax -->
<section id="img-parallax-3" data-type="background" data-speed="13">
  <div class="section">
    <h1>
      <p>We let creativity flourish, and innovation thrive.</p>
    </h1>
  </div>
</section>

<!-- (6) CONTACT SLIDE -->
<div id="contactme" class="slide">
  <div class="container">
    <h1><strong>Get in Touch</strong></h1>

    <div class="section" id="contact-details">
      <p><%= image_tag("mobile.png") %> 951-533-0506</p>
      <p><%= image_tag("mail.png") %> hello@gameschool.io</p>
      <p><%= image_tag("location.png") %> 250 E Olive Ave #202, Burbank, CA 91502</p>
    </div>

    <div class="section">
    <p>Don't fall behind! Access our Newsletter:</p>

    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
    	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
      <form action="//Gameschool.us13.list-manage.com/subscribe/post?u=31eaf63db8bcec7671f5cf20e&amp;id=7d18a4571b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

          <!-- MailChimp Form Style -->
          <style>
            #mc_embed_signup form {
              margin: 0 0 0 20px;
            }
            #mc_embed_signup {
              background-color: transparent;
            }
            #mc_embed_signup input {
              margin: 0;
              border: none;
            }
            #mc_embed_signup .mc-field-group input {
              width: 279px;
            }
            #mc-embedded-subscribe {
              width: 279px;
            }
            #mc_embed_signup #mce-error-response {
              color: #D4D1E9;
              font-size: 12px;
              font-weight: 100;
            }
            #mc_embed_signup #mce-success-response {
              color: #D4D1E9;
              font-size: 12px;
              font-weight: 100;
            }
          </style>

          <div class="mc-field-group">
          	<input type="email" class="text-box" placeholder="Your Email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
        	<div id="mce-responses" class="clear">
        		<div class="response" id="mce-error-response" style="display:none"></div>
        		<div class="response" id="mce-success-response" style="display:none"></div>
        	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_31eaf63db8bcec7671f5cf20e_7d18a4571b" tabindex="-1" value=""></div>
            <input type="submit" class="btn" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
        </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';fnames[4]='MMERGE4';ftypes[4]='text';fnames[5]='MMERGE5';ftypes[5]='text';fnames[6]='MMERGE6';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->

      <!-- <form>
        <input type="text" class="text-box" placeholder="your email">
        <input type="submit" value="SignUp" class="btn">
      </form> -->
    </div>
  </div>

  <!-- Social Media Links -->
  <div class="socmed">
    <a href="http://twitter.com/" id="twitter"><%= image_tag("twitter.png") %></a>
    <a href="http://facebook.com/" id="facebook"><%= image_tag("facebook.png") %></a>
  </div>
  <div class="legal">COPYRIGHT © 2016 GAMESCHOOL. ALL RIGHTS RESERVED.</div>
</div>

<!-- (7) GOOGLE MAPS SECTION -->
<div id="map-canvas"></div>
<script>
  // Google Maps
  var map;
  function initMap() {
    var mapOptions = {
      center: {lat: 34.180, lng: -118.3076012},
      zoom: 17,
      disableDefaultUI: true,
      scroll:{x:$(window).scrollLeft(),y:$(window).scrollTop()}
    };
    map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
    var marker = new google.maps.Marker({
      position: {lat: 34.1812979, lng: -118.3076012},
      map: map,
      title: 'HanHai Studio'
    });

  // Paralax Google Map
    var offset=$(map.getDiv()).offset();
    map.panBy(((mapOptions.scroll.x-offset.left)/3),((mapOptions.scroll.y-offset.top)/3));

    google.maps.event.addDomListener(window, 'scroll', function(){
      var scrollY=$(window).scrollTop(),
      scrollX=$(window).scrollLeft(),
      scroll=map.get('scroll');
      if(scroll){
        map.panBy(-((scroll.x-scrollX)/3),-((scroll.y-scrollY)/3));
      }
      map.set('scroll',{x:scrollX,y:scrollY})
    });
  }
  initMap();
</script>
