<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :course_summary %><br>
    <%= f.text_area :course_summary %>
  </div>
  <div class="field">
    <%= f.label :course_length %><br>
    <%= f.text_area :course_length %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :course_end_date %><br>
    <%= f.datetime_select :course_end_date %>
  </div>
  <div class="field">
    <%= f.label :course_status %><br>
    <%= f.collection_select :course_status, @course_status_options, :to_s, :to_s, include_blank: false %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
