<p id="notice"><%= notice %></p>

<%#= link_to 'New Course', new_course_path %>


<style>
  .section.interest {
    border: 1px solid black;
  }
  .section.interest:hover {
    border-bottom: 1px solid red;
  }
  </style>

<div class="slide" id="our-classes">
  <div class="container">
    <h1>Our Classes</h1>
    <h2>Available Classes:</h2>

    <% @courses.each do |course| %>
      <div class="section interest" data-package="daily">
        <h2><%= course.name %></h2>
        <p><%= course.date %></p>
        <p>$150</p>
        <p><%= course.course_summary %></p>
        <%= link_to 'Show', course %> | <%= link_to 'Edit', edit_course_path(course) %> | <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <br />

    <h2>Future Classes</h2>
      <% @courses.each do |course| %>
        <div class="section interest" data-package="daily">
          <h2><%= course.name %></h2>
          <p><%= course.date %></p>
          <p>$150</p>
          <p><%= course.course_summary %></p>
          <%= link_to 'Show', course %> | <%= link_to 'Edit', edit_course_path(course) %> | <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
  <!-- End Container -->
  </div>
</div>
