<style>
  .section {
    min-width: 300px;
    width: 50%;
    text-align: justify;
  }
</style>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_course_path(@course) %> | <%= link_to 'Back', courses_path %>

<div class="slide">
  <div class="container">
    <h1><%= @course.name %></h1>
  </div>
  <div class="container">
    <div class="section">
      <div class="content">
          <p>
            <%= @course.course_summary %><br />
            <%= @course.description %><br />
            <%= @course.address %><br />
            <%= @course.course_length %><br />
            <%= @course.price %><br />
            <%= @course.date.strftime("%A %B %d") %><br />
            <%= @course.course_end_date.strftime("%A %B %d") %><br />
            <%= @course.course_status %><br />
            <%= @course.longitude %><br />
            <%= @course.latitude %>
          </p>
      </div>
    </div>

  </div>
</div>
