<p id="notice"><%= notice %></p>

<% if current_user.present? %>
  <%= link_to 'Edit', edit_course_path(@course) %> | <%= link_to 'Back', courses_path %>
<% else %>
  <%= nil %>
<% end %>

<div class="hero">
  <div class="hero-title">
    <h1><%= @course.name %></h1><div class="availability">
      <% if @course.course_status == "Availability" %>
        <%= image_tag("availability.svg", height: '50px') %>
        Spaces Available
      <% else %>
        <%= image_tag("no-availability.svg", height: '50px') %>
        Class Full
      <% end %>
    </div>
  </div>

  <div class="hero-body">
    <%= @course.course_summary %>
  </div>

  <div class="hero-sub">
    <h2>This course starts:</h2>
    It is <%= @course.course_length %>
  </div>
</div>

<div class="class-description">
  <h2>What you will learn:</h2>
  <p><%= @course.description %></p>
  <h2>Price:</h2>
  <p><%= @course.price %></p>
</div>


<!-- Meet Your Instructors -->
<div class="instructors">
  <h2>Meet Your Instructor:</h2>
  <div class="instructor-card">
    <a href="/instructors/<%= @course.instructor.id %>"><%= @course.instructor.first_name %> <%= @course.instructor.last_name %></a><br />
    <%= @course.instructor.title %>
  </div>
</div>

<div class="class-calendar">
  <%= @course.date.strftime("%A %B %d") %>
  <%= @course.course_end_date.strftime("%A %B %d") %>
</div>

<div class="class-details">
  <div class="map"></div>
  <%= @course.address %>
  <%= @course.longitude %>
  <%= @course.latitude %>
</div>

<style>
  .object-container {
    display: inline-block;
  }
  .event-container {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  #map-canvas {
    display: inline-block;
    width: 350px;
    height: 282px;
  }
  iframe, object { overflow:hidden; }
</style>

<!-- GOOGLE MAPS SECTION -->
<div id="map-canvas"></div>

<!-- Google Calendar Section -->
<div class="object-container">
  <object data="https://calendar.google.com/calendar/embed?title=GameSchool%20Upcoming%20Courses&amp;showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=500&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=4h8dh3jrfmgnso9f0uqsqu2480%40group.calendar.google.com&amp;color=%23853104&amp;ctz=America%2FLos_Angeles"
    style="border-width:0" width="350" height="300" frameborder="0" scrolling="no">
  </object>
</div>

<div class="event-container">
  <object data="//eventbrite.com/tickets-external?eid=24060041231&ref=etckt" style="max-width:710px;" frameborder="0" height="293" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="none" allowtransparency="true"></object>
  <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" >
    <a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Powered by Eventbrite</a>
  </div>
</div>

<script>
  // Google Maps
  var map;
  function initMap() {
    var mapOptions = {
      center: {lat: 34.180, lng: -118.3076012},
      zoom: 15,
      disableDefaultUI: true,
      scroll:{x:$(window).scrollLeft(),y:$(window).scrollTop()}
    };
    map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
    var marker = new google.maps.Marker({
      position: {lat: 34.1812979, lng: -118.3076012},
      map: map,
      title: 'HanHai Studio'
    });
  }
  initMap();
</script>
