<style>
  .class-description {
    width: 100%;
    margin: 0 auto;
  }
  .class-text {
    max-width: 500px;
    text-align: left;
    margin: 0 auto;
  }
  .instructors {
    padding-top: 25px;
    background-color: #e2e2e2;
  }
  .instructor-card {
    padding: 0 25px 25px 25px;
    font-size: 1.5em;
    line-height: 1.5;
  }
  .instructor-title {
    font-size: 18px;
  }
  .object-container {
    display: inline-block;
  }
  .event-container {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 25px 0 0 0;
  }
  #map-canvas {
    display: inline-block;
    width: 350px;
    height: 282px;
  }
</style>

<p id="notice"><%= notice %></p>

<% if current_user.present? %>
  <%= link_to 'Edit', edit_course_path(@course) %> | <%= link_to 'Back', courses_path %>
<% else %>
  <%= nil %>
<% end %>

<div class="hero">
  <div class="hero-title">
    <h1><%= @course.name %></h1><div class="availability">
      <% if @course.course_status == "Availability" %>
        <%= image_tag("availability.svg", height: '50px') %>
        Spaces Available
      <% else %>
        <%= image_tag("no-availability.svg", height: '50px') %>
        Class Full
      <% end %>
    </div>
  </div>

<div class="class-description">
  <div class="class-text">
    <%= markdown(@course.description) %>
  </div>
</div>

<!-- Meet Your Instructors -->
<div class="instructors">
  <h2>Meet Your Instructor:</h2>
  <div class="instructor-card">
    <a href="/instructors/<%= @course.instructor.id %>"><%= @course.instructor.first_name %> <%= @course.instructor.last_name %></a>
    <div class="instructor-title">
      <%= @course.instructor.title %>
    </div>
  </div>
</div>

<!-- These Variabels will need to be used to make map DYNAMIC -->
<%#= @course.address %>
<%#= @course.longitude %>
<%#= @course.latitude %>

<!-- GOOGLE MAPS SECTION -->
<div id="map-canvas"></div>

<!-- Google Calendar Section -->
<div class="object-container">
  <object data="https://calendar.google.com/calendar/embed?title=GameSchool%20Upcoming%20Courses&amp;showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=500&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=4h8dh3jrfmgnso9f0uqsqu2480%40group.calendar.google.com&amp;color=%23853104&amp;ctz=America%2FLos_Angeles"
    style="border-width:0" width="350" height="300" frameborder="0" scrolling="no">
  </object>
</div>

<!-- Event Brite Section -->
<div class="event-container">
  <object data="//eventbrite.com/tickets-external?eid=<%= @course.eventbrite_id %>&ref=etckt" style="max-width:710px;" frameborder="0" height="400" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" seamless="seamless" scrolling="no" allowtransparency="true"></object>
  <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" >
    <a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Powered by Eventbrite</a>
  </div>
</div>

<script>
  // Google Maps
  var map;
  function initMap() {
    var mapOptions = {
      center: {lat: 34.180, lng: -118.3076012},
      zoom: 15,
      disableDefaultUI: true,
      scroll:{x:$(window).scrollLeft(),y:$(window).scrollTop()}
    };
    map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
    var marker = new google.maps.Marker({
      position: {lat: 34.1812979, lng: -118.3076012},
      map: map,
      title: 'HanHai Studio'
    });
  }
  initMap();
</script>
