<!-- NAVIGATION BAR -->
<nav>
  <div class="nav-container">
    <div class="logo-container">
      <div id="logo">
        <a href="/"><%= image_tag("logo-sm.png") %>GameSchool</a>
      </div>
    </div>
    <!-- Navigation Links -->
    <div class="links-container">
      <div class="nav-link"><%= link_to 'home', root_path %></div>
      <div class="nav-link"><%= link_to 'about', about_path %></div>
      <div class="nav-link"><%= link_to 'who we are', root_path %></div>
      <div class="nav-link"><%= link_to 'classes', root_path %></div>
      <div class="nav-link btn exo sm" id="nav-signup">signup</div>
    </div>
    <!-- Menu -->
    <div class="ham-container">
      <div id="hambut">
          <div class="bar"></div>
          <div class="bar"></div>
      </div>
    </div>
  </div>
</nav>
<!-- END NAVIGATION BAR -->
