<!DOCTYPE html>
<html>
<head>
  <title>GameSchool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Google Jquery and Jquery UI -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <!-- Minimalist Font of Choice -->
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300' rel='stylesheet' type='text/css'>
  <!-- Google Maps API -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANwIl8SeGlJnjsUxkzhjZLrZMLeWvav_k&callback=initMap"></script>
</head>
<body>

<%= render partial: "layouts/nav" %>
<div class="spacer"></div>
<%= yield %>

</body>
</html>
